{% extends "mail/layout.html" %}
{% load static %}

{% block body %}


    <!-- <div class="slidbar">

        <div class="top">
            <img src="{% static 'Prro Coders.jpg' %}" alt="" id="icon">
            <h2 id="user_email">{{ request.user.email }}</h2>
        </div>
        



    </div> -->

    <body>
        <!-- الشريط الجانبي -->
        <div class="slidbar">
            <div class="top">
                <img src="{% static 'Prro Coders.jpg' %}" id="icon" alt="Icon">
                <h2 id="user_email">{{ request.user.email }}</h2>
            </div>

            <ul class="ul">
                <li id="inbox"><i class="fas fa-inbox"></i> Inbox</li>
                <li id="sent"><i class="fas fa-paper-plane"></i> Sent</li>
                <li id="archived"><i class="fas fa-archive"></i> Archived</li>
                <a href="{% url 'logout' %}" id="logout"><i class="fas fa-sign-out-alt"></i> Log Out</a>
            </ul>
            
            <button id="compose">
                <i class="fas fa-pencil-alt"></i> Compose
            </button>
        </div>
    
        <!-- المحتوى الرئيسي -->
        <!-- <div class="content">
            <h1>Welcome to Gmail Clone</h1>
            <p>Here is the content of the page. Enjoy reading your emails!</p>
        </div>
    </body> -->
    
    


    <div class="content">

        <div id="emails-view">
        </div>
    
        <div id="emails-detal-view">
            <button id="delete-email" class="btn btn-danger">Delete</button>

        </div>
    
        <div id="compose-view">
            <h3>New Email</h3>
            <form id="compose-form">
                <div class="form-group">
                    <input disabled hidden class="form-control" value="{{ request.user.email }}">
                </div>
                <div class="form-group">
                    To: <input id="compose-recipients" class="form-control">
                </div>
                <div class="form-group">
                    <input class="form-control" id="compose-subject" placeholder="Subject">
                </div>
                <textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
                <input type="submit" class="btn btn-primary btn-new"/>
            </form>
        </div>

    </div>


{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>



{% endblock %}